@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/Style2.css" rel="stylesheet" />
<div class="c">
    <div class="a">
        <div class="l"></div>
        <div class="r">
            <h2>Contact Us</h2>
            <input type="text" class="field" placeholder="Your Name">
            <input type="text" class="field" placeholder="Your Email">
            <input type="text" class="field" placeholder="Phone">
            <textarea placeholder="Message" class="field"></textarea>
            <button class="btn">Send</button>
        </div>
    </div>
</div>
