
@{
    ViewBag.Title = "Successful";
}

<h3 align="center">-----------Your Transaction Is SuccessFul-----------</h3>
<h2 align="center">-----------Thankyou For Choosing Us!!!!!-----------</h2>
<br />
<br />
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

